<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
        <style>
            .container {
    position: relative;
 }
            .kertr{
   color: blue;

 }
 .sdimg{
  margin-left: -12px;
  margin-bottom: -100px;
  height: 100%;
   width: 100%;
 }
 .accnt1{
  font-size: 20px;
  padding-top: 20px;
}
.btn1{
        border:none;
        color: white;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: dodgerblue;
        border-radius: 4px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
      }
      .labeltxt{
      font-weight: 600;
      font-size: 20px;
    }
        </style>

	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
        <!-- <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li> -->
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Log In
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>



    <!-- --------------------------------------- -->
<div class="container" style="background-color: #345EA8;">
  <div class="panel" >
    <div class="panel-body"  style="background-color: #EEDBCB ;">

      <h1 class="headind1">“I have always imagined that paradise will be a kind of library.” – Jorge Luis Borges</h1>
      
    </div>
  </div>                                                                                                                                                      
 </div>
<!-- ------------------------------------------ -->

<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/login start-->
          <section class="form my-4 mx-5">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-lg-4">
                  <img src="./img/tree2.jpg" class="sdimg img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                  <h1 class="kertr font-weight-bold py-3">Library App</h1>
                  <h3><span style="color: dodgerblue;">Log In</span> <span  class="subsg">to your account</span></h3>
                  <form  method="POST" action="/login/userlog" onsubmit="return isEmail()" >
                    <div class="form-row">
                      <div class="col-lg-7">
                        <label for="email" class="labeltxt pt-2">Email</label>
                        <input type="text" placeholder="Email-Address"  class="form-control m-3 p-3" id="email" name="email">
                        <label for="error" id=error></label>
      
                      </div>
                      <div class="form-row">
                        <div class="col-lg-7">
                          <label for="password" class="labeltxt">Password</label>
                          <input type="password" placeholder="*********" class="form-control m-3 p-3" id="pwd" name="password">
                        <label for="error" id=error></label>

                     </div>
                     <div class="form-row">
                      <div class="col-lg-7">
                        <button class="btn1 mt-1 m-3 p-2" id="submit">Log In</button>
                        <div>
                          <!-- <a href="#">Forgot password</a> -->
                          <!-- <p>Don't have an account? <a href="signup.html">Register here</a></p> -->
                        </div>                 
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          <!--/login end-->
  
          <!-- <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a> -->

        </div>
      </div>                                                                                   	                                                                                     
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->

    <script>
        let email = document.getElementById("email");
let pwd = document.getElementById("pwd");
let error = document.getElementById("error");




function isEmail(){
    if(email.value.trim()==""){
        alert("Fields cannot be empty!");
        email.style.border="2px solid red";
        return false;
    }
        
    let regexp = /^([\w\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3})?$/
        if(regexp.test(email.value)){
            return validate();
        }
        else{
            error.innerHTML = "Invalid Email!";
            error.style.color = "red";
            return false;
        }
    function validate(){
        if(email.value.trim()==""){
            alert("Fields cannot be empty!");
            email.style.border="2px solid red";
            return false;
        }
        else if(pwd.value.trim()==""){
            alert("Fields cannot be empty!");
            pwd.style.border="2px solid red";
            return false;
        }
        else{
            // alert("Logged In Successfully");
            return true;
        }
    }
        
        
}
    </script>



		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>