<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
        <style>
            .container {
    position: relative;
 }
            .kertr{
   color: blue;

 }
 .sdimg{
  margin-left: -12px;
  margin-bottom: -100px;
  height: 100%;
   width: 100%;
 }
 .accnt1{
  font-size: 20px;
  padding-top: 20px;
}
.btn1{
        border:none;
        color: white;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: dodgerblue;
        border-radius: 4px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
      }

        </style>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
        <!-- <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li> -->
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Sign up
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>

<!-- --------------------------------------- -->
<div class="container" style="background-color: #345EA8;">
      <div class="panel" >
        <div class="panel-body"  style="background-color: #EEDBCB ;">

          <h1 class="headind1">“I have always imagined that paradise will be a kind of library.” – Jorge Luis Borges</h1>
          
        </div>
      </div>                                                                                                                                                      
   	</div>
<!-- ------------------------------------------ -->
<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          <!-- signup  start-->
          <section class="form my-4 mx-5">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                  <h1 class="kertr font-weight-bold py-1">Library App</h1>
                  <!-- <h3>Create <span class="subsg1">your account</span></h3> -->
                  <p class="accnt1">&nbsp;&nbsp;&nbsp;&nbsp;Please fill in this form to create an account.</p>
                  <hr> 
                  <!-- onsubmit="return isEmail2()" -->
                  <form method="POST" action="/signup/useradd">
                    <div class="form-row">
                      
                      <div class="col-lg-7">
                        <h4>Email</h4>
                        <input type="text" placeholder="Enter Email" class="form-control m-3 p-2" id="email2" name="email" />
                        <label for="error2" id=error2></label>
                      </div>
                      <div class="col-lg-7">
                        <h4>Username</h4>
                        <input type="text" placeholder="Enter Username" class="form-control m-3 p-2" id="username123" name="username" />
                        <label for="error7" id=error7></label>
                      </div>
                      <!-- <div class="col-lg-7">
                        <h4>Mobile Number</h4>
                        <input type="text" name="Phone-Number" placeholder="Enter Mobile.No" class="number form-control m-3 p-2" id="number2" name="mobile" />
                        <label for="error3" id=error3></label>
                      </div> -->
                      <div class="field col-lg-7">
                        <h4>Password</h4>
                        <input  type="password" placeholder="***********" class="form-control m-3 p-2" id="pwd2" name="password" />
                        <label for="error2" id=error2></label>
                        <!-- onkeyup="validate4()" -->
                      </div>

                          <div class="form-row">
                            <div class="col-lg-7">
                              <button onclick="return isEmail2()"  type="submit" value="check" class="btn1 mt-1 m-3 p-2" id="submit">Sign Up</button>
                              <div>
                                <!-- onclick="validate3()" -->
                        </div>                 
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
          <!-- signup  end-->
        





        </div>
      </div>                                                                                                                        
   	</div><!--/col-12-->
  </div>
</div>                                                                         
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>



	<!-- script references -->
        <script>
           let email2 = document.getElementById("email2");
let number2 = document.getElementById("number2");
let pwd2 = document.getElementById("pwd2");

let error2 = document.getElementById("error2");

let error3 = document.getElementById("error3");
var data = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4}$/

var data1 = /[a-zA-Z]/;
var data2 = /\d+/;
var data3 = /.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/;


function isEmail2(){
    if(email2.value.trim()==""){
        alert("Fields cannot be empty!");
        email2.style.border="2px solid red";
        return false;
    }
        
        let regexp = /^([\w\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3})?$/
            if(regexp.test(email2.value)){
            return validate3();
            }
            else{
                error2.innerHTML = "Invalid Email!";
                error2.style.color = "red";
                return false;
            }
    // function validate2(){   
    //     if(number2.value.trim()==""){
    //         alert("Fields cannot be empty!");
    //         number2.style.border="2px solid red";
    //         return false;
    //     }
    //     else if(!number2.value.match(data))
    //     {
    //         error3.innerHTML = "Mobile No. Invalid!";
    //         error3.style.color = "red";
    //         return false;
    //     }
    //     else{
    //         return validate3();
    //     }

    
    function validate3(){
        if(pwd2.value.trim()!= ""){
                return validate4();
            }
            else{
                alert("Fields cannot be empty !");
                pwd2.style.border="2px solid red";
                return false;
            }
        }
    }

    function validate4(){ 
        if(pwd2.value.length>=8){
            return validate5();
        }
            else{
                alert("Password length should be atleast 8 characters!");
                pwd2.style.border="2px solid red";
                return false;
        }
     }

function validate5(){
    alert("Signed Up Successfully");
}


        </script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>